In [1]:
!pip install ucimlrepo

Defaulting to user installation because normal site-packages is not writeable
Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /Users/aman/Library/Python/3.9/lib/python/site-packages (from ucimlrepo) (2.3.2)
Requirement already satisfied: certifi>=2020.12.5 in /Users/aman/Library/Python/3.9/lib/python/site-packages (from ucimlrepo) (2025.1.31)
Requirement already satisfied: numpy>=1.22.4 in /Users/aman/Library/Python/3.9/lib/python/site-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/aman/Library/Python/3.9/lib/python/site-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/aman/Library/Python/3.9/lib/python/site-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/aman/Library/Python/3.9/lib/python/site-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.15.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [2]:
from ucimlrepo import fetch_ucirepo
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from collections import Counter
import multiprocessing as mp

In [3]:
adult = fetch_ucirepo(id=2)
X = adult.data.features
y = adult.data.targets

In [4]:
X.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
dtype: object

In [5]:
X.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [6]:
# le=LabelEncoder()
# for col,dtype in X.dtypes.items():
#     # print(col)
#     if isinstance(dtype,np.dtypes.ObjectDType):
#         X.loc[:,col]=le.fit_transform(X[col])

In [7]:
len(X)

48842

In [8]:
X.head(50)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
30,23,Local-gov,190709,Assoc-acdm,12,Never-married,Protective-serv,Not-in-family,White,Male,0,0,52,United-States
31,20,Private,266015,Some-college,10,Never-married,Sales,Own-child,Black,Male,0,0,44,United-States
32,45,Private,386940,Bachelors,13,Divorced,Exec-managerial,Own-child,White,Male,0,1408,40,United-States
33,30,Federal-gov,59951,Some-college,10,Married-civ-spouse,Adm-clerical,Own-child,White,Male,0,0,40,United-States
34,22,State-gov,311512,Some-college,10,Married-civ-spouse,Other-service,Husband,Black,Male,0,0,15,United-States
35,48,Private,242406,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,Puerto-Rico
36,21,Private,197200,Some-college,10,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States
37,19,Private,544091,HS-grad,9,Married-AF-spouse,Adm-clerical,Wife,White,Female,0,0,25,United-States
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?
39,48,Self-emp-not-inc,265477,Assoc-acdm,12,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
40,31,Private,507875,9th,5,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,43,United-States
41,53,Self-emp-not-inc,88506,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
42,24,Private,172987,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,50,United-States
43,49,Private,94638,HS-grad,9,Separated,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
44,25,Private,289980,HS-grad,9,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,35,United-States
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States
46,53,Private,144361,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,38,United-States
47,44,Private,128354,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,40,United-States
48,41,State-gov,101603,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
49,29,Private,271466,Assoc-voc,11,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,United-States

In [9]:
y.head(5)

  income
0  <=50K
1  <=50K
2  <=50K
3  <=50K
4  <=50K

In [10]:
# y.loc[:,'income']=le.fit_transform(y['income'])
X=X.drop("education-num",axis=1)
X.nunique()

age                  74
workclass             9
fnlwgt            28523
education            16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        123
capital-loss         99
hours-per-week       96
native-country       42
dtype: int64

In [11]:
X.describe()

                age        fnlwgt  capital-gain  capital-loss  hours-per-week
count  48842.000000  4.884200e+04  48842.000000  48842.000000    48842.000000
mean      38.643585  1.896641e+05   1079.067626     87.502314       40.422382
std       13.710510  1.056040e+05   7452.019058    403.004552       12.391444
min       17.000000  1.228500e+04      0.000000      0.000000        1.000000
25%       28.000000  1.175505e+05      0.000000      0.000000       40.000000
50%       37.000000  1.781445e+05      0.000000      0.000000       40.000000
75%       48.000000  2.376420e+05      0.000000      0.000000       45.000000
max       90.000000  1.490400e+06  99999.000000   4356.000000       99.000000

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15,random_state=42)

In [13]:
print(type(X_train))

print(len(X_train))

<class 'pandas.core.frame.DataFrame'>
41515

In [14]:
class Node:
    def __init__(self,splittingFeature:str,children:list,values:list):
        self.splittingFeature=splittingFeature
        self.children=children
        self.values=values
        
        assert len(self.children)==len(self.values),f'the length of children and values is not same , children: {len(self.children)} values: {len(self.values)}'
        
def convertibleInt(val):
    
    try:
        int(val)
        return True
        
    except (ValueError,TypeError):
        return False

In [15]:
class DecisionTree:
    
    def __init__(self,split_measure:str):
        
        splitMeasuresDict={'entropy':DecisionTree.getEntropy
                       ,'giniImpurity':DecisionTree.getGiniImpurity}
        
        if split_measure not in splitMeasuresDict.keys():
            raise ValueError(f"invalid split measure, the supported measures are :{[key for key in splitMeasuresDict.keys()]}")
        
        self.splitCriteria=splitMeasuresDict[split_measure]
        
    @staticmethod
    def getEntropy(y:pd.Series):
        
        counts = np.array(list(Counter(y).values()), dtype=float)
        prob=(counts/y.shape[0])
        return np.sum(-prob*np.log(prob))
        
    @staticmethod
    def getGiniImpurity(y:pd.Series):
        
        counts = np.array(list(Counter(y).values()), dtype=float)
        prob=(counts/y.shape[0])
        return 1-np.sum(prob**2)
    
    
    def getOptimalThreshold(self,x:pd.Series,y:pd.Series):
        
        
        idx=np.argsort(x.to_numpy())
        x=x.to_numpy()[idx]
        y=y.to_numpy()[idx]
        
        # print(x.shape,y.shape)
        minImpurity=float('inf')
        bestThre=None
        for i in range(1,y.shape[0]-1):
            
            n1=y[:i]
            n2=y[i:]
            impurity=n1.shape[0]*self.splitCriteria(n1)/x.shape[0]+n2.shape[0]*self.splitCriteria(n2)/x.shape[0]
            # print(impurity)
            if impurity<minImpurity:
                bestThre=(x[i-1]+x[i])/2
                minImpurity=impurity
        return minImpurity,bestThre
    

    def getnewImpurity(self,Data):
        
        # Data=np.transpose(Data,axes=(1,0))
        Data=pd.DataFrame(Data,columns=['feature','label'])
        print(Data.head(2))
        impurity=0
        thres=None
        # if Data['feature'].dtype == object: #checks for discrete
        if not convertibleInt(Data['feature'][0]):
            # print(Data.iloc[0].dtype)
            # print(Data['feature'].unique())
            
            groups={k:g['label'] for k,g in Data.groupby('feature')}
            for k in groups.keys():
                impurity+=groups[k].shape[0]*self.splitCriteria(groups[k])/Data.shape[0]
                
        else:
            
            print("got thres!!")
            impurity,thres=self.getOptimalThreshold(Data['feature'],Data['label'])

        print("min impurity is :",impurity)

        return impurity,thres

    def getOptimalFeature(self,x:pd.DataFrame,y:pd.DataFrame):
        
        # print(x.head(2))

        x_np=x.to_numpy()
        y_np=np.repeat(y.to_numpy(),x.shape[1],axis=1)
        # print(x_np.shape,y_np.shape)
        data=np.transpose(np.stack([x_np,y_np],axis=0),axes=(2,1,0))
        print(data.shape)
        # with mp.Pool(processes=int(0.6*mp.cpu_count())) as pool:
        #     impurities=pool.map(self.getnewImpurity,data)
        impurities=[]
        for d in data:
            impurities.append(self.getnewImpurity(d))
        
        impurities,thres=zip(*impurities)
        
        impurities=np.array(impurities)
        thres=np.array(thres)
        
        return np.argmin(impurities),thres
        
        
    def constructNode(self,x:pd.DataFrame,y:pd.DataFrame):
        
        print("new node:",x.shape,y.shape)
        
        if np.unique(y.to_numpy()).shape[0]==1 or x.shape[1]==0:
            print('terminated')
            return None
        
        bestFeature,thres=self.getOptimalFeature(x,y)
        print("best Feature :",x.columns[bestFeature])
        print("thres",thres)
        if thres[bestFeature]!=None:
            concat_df=pd.concat([x,y],axis=1)
            mask=concat_df[x.columns[bestFeature]]>thres[bestFeature]
            # print("mask shape",mask.shape)
            x=x.drop(x.columns[bestFeature],axis=1)
            values=[thres[bestFeature]]
            children=[]
            children.append(self.constructNode(x.loc[mask],y.loc[mask]))
            children.append(self.constructNode(x.loc[~mask],y.loc[~mask]))
            
        else:
            grouped=x.groupby(pd.concat([x,y],axis=1).columns[bestFeature])
            groupedDF=[g.drop(columns=x.columns[bestFeature]) for _, g in grouped]
            values=[v for v,_ in grouped]
            children=[]
            for df in groupedDF:
                children.append(self.constructNode(df.iloc[:,:-1],df.iloc[:,-1:]))
                
        return Node(x.columns[bestFeature],children,values)

    @staticmethod
    def predict(X:pd.DataFrame):
        pass

In [16]:
split="giniImpurity"
classifier=DecisionTree(split_measure=split)

In [17]:
X=pd.Series(
    [60,70,75,85,90,95,100,120,125,220],name='feature'
)

Y=pd.Series(
      ['no','no','no','yes','yes','yes','no','no','no','no'],name='label'

)

print(classifier.getOptimalThreshold(X,Y))

(np.float64(0.3), np.float64(97.5))

In [18]:


RootNode=classifier.constructNode(X_train,y_train)

new node: (41515, 13) (41515, 1)
(13, 41515, 2)
  feature   label
0      22  <=50K.
1      33   <=50K
got thres!!
min impurity is : 0.6300986216223068
   feature   label
0  Private  <=50K.
1  Private   <=50K
min impurity is : 0.615191935541472
  feature   label
0  161508  <=50K.
1   55699   <=50K
got thres!!
min impurity is : 0.6466725473952069
        feature   label
0  Some-college  <=50K.
1       HS-grad   <=50K
min impurity is : 0.6192089837264751
              feature   label
0       Never-married  <=50K.
1  Married-civ-spouse   <=50K
min impurity is : 0.6058704516522482
            feature   label
0    Prof-specialty  <=50K.
1  Transport-moving   <=50K
min impurity is : 0.5971685133957366
     feature   label
0  Own-child  <=50K.
1    Husband   <=50K
min impurity is : 0.6046698738927253
  feature   label
0   White  <=50K.
1   White   <=50K
min impurity is : 0.6447044002297059
  feature   label
0    Male  <=50K.
1    Male   <=50K
min impurity is : 0.6374507486367675
  feature   label
0       0  <=50K.
1    3908   <=50K
got thres!!
min impurity is : 0.6188271422611092
  feature   label
0       0  <=50K.
1       0   <=50K
got thres!!
min impurity is : 0.6386350112421141
  feature   label
0      40  <=50K.
1      40   <=50K
got thres!!
min impurity is : 0.6348262753269092
         feature   label
0  United-States  <=50K.
1  United-States   <=50K
min impurity is : 0.6375808727432524
best Feature : occupation
thres [31.0 None 199156.5 None None None None None None 5119.0 1820.5 41.0 None]
new node: (1551, 11) (1551, 1)
(11, 1551, 2)
  feature          label
0      21  United-States
1      69  United-States
got thres!!
min impurity is : 0.17989462807830997
  feature          label
0       ?  United-States
1       ?  United-States
min impurity is : 0.18086693191422562
  feature          label
0  357029  United-States
1  473040  United-States
got thres!!
min impurity is : 0.1798102053559604
        feature          label
0  Some-college  United-States
1       5th-6th  United-States
min impurity is : 0.17141597454435248
              feature          label
0  Married-civ-spouse  United-States
1            Divorced  United-States
min impurity is : 0.18002432133431687
         feature          label
0           Wife  United-States
1  Not-in-family  United-States
min impurity is : 0.17945535976532612
  feature          label
0   Black  United-States
1   White  United-States
min impurity is : 0.1647716406557323
  feature          label
0  Female  United-States
1    Male  United-States
min impurity is : 0.18076224374265462
  feature          label
0    2105  United-States
1       0  United-States
got thres!!
min impurity is : 0.1805903334849402
  feature          label
0       0  United-States
1       0  United-States
got thres!!
min impurity is : 0.18060736489596899
  feature          label
0      20  United-States
1      40  United-States
got thres!!
min impurity is : 0.18015528316056617
best Feature : race
thres [57.0 None 147598.0 None None None None None 67047.0 0.0 40.0]
new node: (21, 9) (21, 1)
(9, 21, 2)
  feature label
0      60    10
1      58    40
got thres!!
min impurity is : 0.6938775510204082
  feature label
0       ?    10
1       ?    40
min impurity is : 0.7392290249433107
  feature label
0   24215    10
1   97969    40
got thres!!
min impurity is : 0.674185463659148
   feature label
0     10th    10
1  1st-4th    40
min impurity is : 0.38095238095238093
                 feature label
0               Divorced    10
1  Married-spouse-absent    40
min impurity is : 0.4530612244897959
         feature label
0  Not-in-family    10
1      Unmarried    40
min impurity is : 0.5022675736961452
  feature label
0  Female    10
1    Male    40
min impurity is : 0.6917748917748918
  feature label
0       0    10
1       0    40
got thres!!
min impurity is : 0.6613756613756613
  feature label
0       0    10
1       0    40
got thres!!
min impurity is : 0.6613756613756613
best Feature : education
thres [30.0 None 25443.0 None None None None 0.0 0.0]
new node: (2, 7) (2, 1)
terminated
new node: (1, 7) (1, 1)
terminated
new node: (1, 7) (1, 1)
terminated
new node: (2, 7) (2, 1)
terminated
new node: (2, 7) (2, 1)
terminated
new node: (1, 7) (1, 1)
terminated
new node: (2, 7) (2, 1)
terminated
new node: (1, 7) (1, 1)
terminated
new node: (1, 7) (1, 1)
terminated
new node: (2, 7) (2, 1)
terminated
new node: (6, 7) (6, 1)
terminated
new node: (55, 9) (55, 1)
(9, 55, 2)
  feature label
0      23    20
1      65    15
got thres!!
min impurity is : 0.8235431235431236
  feature label
0       ?    20
1       ?    15
min impurity is : 0.8588429752066116
  feature label
0  226891    20
1  106910    15
got thres!!
min impurity is : 0.825939393939394
   feature label
0  HS-grad    20
1     11th    15
min impurity is : 0.694032634032634
         feature label
0  Never-married    20
1       Divorced    15
min impurity is : 0.7639160839160839
          feature label
0  Other-relative    20
1   Not-in-family    15
min impurity is : 0.7160041592394533
  feature label
0  Female    20
1  Female    15
min impurity is : 0.8394502049674463
  feature label
0       0    20
1       0    15
got thres!!
min impurity is : 0.8252417794970985
  feature label
0       0    20
1       0    15
got thres!!
min impurity is : 0.8252417794970985
best Feature : education
thres [71.0 None 162581.5 None None None None 0.0 0.0]
new node: (1, 7) (1, 1)
terminated
new node: (3, 7) (3, 1)
(7, 3, 2)
  feature label
0      65     0
1      20  1762
got thres!!
min impurity is : 0.3333333333333333
  feature label
0       ?     0
1       ?  1762
min impurity is : 0.4444444444444444
  feature label
0  106910     0
1  114746  1762
got thres!!
min impurity is : 0.3333333333333333
                 feature label
0               Divorced     0
1  Married-spouse-absent  1762
min impurity is : 0.0
         feature label
0  Not-in-family     0
1      Own-child  1762
min impurity is : 0.0
  feature label
0  Female     0
1  Female  1762
min impurity is : 0.4444444444444444
  feature label
0       0     0
1       0  1762
got thres!!
min impurity is : 0.3333333333333333
best Feature : marital-status
thres [19.5 None 108424.0 None None None 0.0]
new node: (1, 5) (1, 1)
terminated
new node: (1, 5) (1, 1)
terminated
new node: (1, 5) (1, 1)
terminated
new node: (2, 7) (2, 1)
terminated
new node: (1, 7) (1, 1)
terminated
new node: (1, 7) (1, 1)
terminated
new node: (1, 7) (1, 1)
terminated
new node: (10, 7) (10, 1)
terminated
new node: (13, 7) (13, 1)
(7, 13, 2)
  feature label
0      23     0
1      31     0
got thres!!
min impurity is : 0.0
  feature label
0       ?     0
1       ?     0
min impurity is : 0.14201183431952646
  feature label
0  226891     0
1   86143     0
got thres!!
min impurity is : 0.07692307692307693
              feature label
0       Never-married     0
1  Married-civ-spouse     0
min impurity is : 0.12307692307692301
          feature label
0  Other-relative     0
1         Husband     0
min impurity is : 0.07692307692307693
  feature label
0  Female     0
1    Male     0
min impurity is : 0.1346153846153846
  feature label
0       0     0
1       0     0
got thres!!
min impurity is : 0.10256410256410256
best Feature : age
thres [18.5 None 62030.0 None None None 0.0]
new node: (12, 6) (12, 1)
terminated
new node: (1, 6) (1, 1)
terminated

AssertionError: the length of children and values is not same , children: 2 values: 1